body {
	background-color: #73ad6d;
	text-align: center;
	margin-right: 100px;
	margin-left: 100px;
}
.box {
	width: 75%;
	height: 200px;
	margin-bottom: 20px;
	font-size: 50px;
	font-weight: bold;
	margin-top: 50px;

}
h1 {
	font-weight: bold;
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
p {
	font-size: 30px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.show-desktop {
	display: block;
}
.show-mobile {
	display: none;
	
}

@media (max-width: 600px) {
	.show-desktop {
		display: none;
	}

	.show-mobile {
		display: block;

	}
	body {
		background-color: pink;


	}
	.box {
		font-size: 30px;
	}
	h1 {
		font-size: 30px;
	}
	p {
		font-size: 20px;
	}

}
.list {
	width: 75%;
	height: 200px;
	margin-bottom: 20px;
	font-size: 40px;
}
